*{
    box-sizing: border-box;
    
}
body{
    background:rgb(172, 180, 187);
    font-family: sans-serif;
    margin: 0;
}
.title-container{
    margin: 0 auto;
    
    text-align: center;
    padding:0px;
}
.title{
    margin: 0 ;
    padding:0;
    font-weight:1500;
    font-size: 50px;
}
.list{

    
    margin: 0 auto;
    padding:0px;
    text-align:center;
}
.listitem{
    display:inline;
    width: 25%;
    margin: 0px 45px;
    font-size: 50px;
}
a{
    color: black;  
}
.bufferimage{
display:inline;
justify-content: center;
margin-left: 15%;
}
#HS{
 width:20%;
}